* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
  }
  
  nav {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .navbar ul {
    display: flex;
    gap: 20px;
  }
  
  .navbar ul li {
    list-style: none;
  }
  
  .navbar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  
  @media (max-width: 768px) {

    .navbar ul{
      top: 60px;
      flex-direction: column;
      position: absolute;
      background-color: black;
      left: -116%;
      background-color: black;
      width: 100%;
      transition: left 0.3s ease-in-out;
      z-index: 1;
    }
    .navbar.open ul{
      left: 0;
    }
    .hamburger{
      display: block;
    }
    .navbar ul li a {
      display: block;
      text-align: center;
      padding: 15px;
    }
  }
  